<h1>Articles</h1>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Text</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @articles.each do |article| %>
			<tr>
				<td><%= article.title %></td>
				<td><%= article.text.truncate(15) %></td>
				<td>
					<%= link_to "View", article_path(article), class: 'btn btn-success' %>

					<%= link_to "Edit", edit_article_path(article), class: 'btn btn-info' %>

					<%= link_to "Destroy", article_path(article), class: 'btn btn-danger', method: :delete, confirm: "Are you sure?" %>

				</td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New article", new_article_path, class: 'btn btn-success' %>