<h1>
  <%= @article.title %>
</h1>
 
<p>
  <%= @article.text %>
</p>

<h2>Comments</h2>

<ul class="list-group">
	<%= render @article.comments %>
</ul>

<h2>New Comment</h2>
<%= render 'comments/form' %>

<%= link_to "Back to articles", articles_path, class: 'btn btn-info' %>